<div id='cakes-container'>
 {{#each cakes}}
    <div class='cakesbox'>     
      <a href="/cake/{{id}}"><img class ='cakes' src='/images/{{img_url}}'/></a>
       <h4>{{name}}</h4>
    </div>
 {{/each}}
</div>


