<div id='cakes-container'>
 {{#each cakes}}
    <div class='cakesbox {{name}}'>     
      <a href="/cake/{{id}}"><img class ='cakes' src='/images/{{img_url}}'/></a>
       <h4>{{name}}</h4>
    </div>
 {{/each}}
</div>

 {{!-- <section id="features">

        <div class="box">
          <a href="projects.html"><img src="img/burosher.jpg" alt="" /></a>
          <span>Musesum burosher</span>
        </div> --}}
