
  <section id="content">
     <div class ="col-12"> 
          <img class="card-img" src="/images/cake7.jpeg" alt="Card image">
     
          <div class="card-img-overlay">
            <div id="homebtn">
              <h5 class="card-title">Eddo-Cake</h5>
              <a class="btn btn-outline-dark"  href="http://localhost:3000/cakes" role="button">Order Now</a>
           </div>
          </div>
      </div> 
   </section> 
