
#content {
    width: 100%; 
    display:block;
    float: left;
    margin-bottom: 30px;
}

#cakes-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

#cakes-container img { 
    max-width: 400px;
    max-height:400px;
    height:auto;
    width: auto; 
    margin: 10px;
    background-color: #aaa;
}

.cakesbox:hober {
    background-color: rgba(240, 233, 233, 0.7);
}
.cakes-container img:hover {
    background-color: rgba(240, 233, 233, 0.7);
  }
 
#homebtn {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* background-color: #555; */
  color: rgb(45, 54, 58);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.media {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
 }


.media-img {
    max-width: 500px;
    max-height:500px;
    height:auto;
    width: auto; 
    margin: 50px;
    background-color: #aaa;
}

.media-body {
    margin: 50px;

}